<%- model_class = Lanche -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<h3>CARDÁPIO</h3>

<div class="row-fluid">
  <div class="span5">
    <strong>Semana 1</strong>
    <p>SEG: Lanche de Salame (pão integral, salame, hambúrguer, queijo provolone e rúcula) + Suco Açaí</p>
    <p>TER: Lanche de Frango (pão integral, frango, mussarela, alface e tomate) + Suco Abacaxi</p>
    <p>QUA: Lanche de Peito de Peru (pão integral, peito de peru, queijo branco, alface e tomate) + Suco Maracujá</p>
    <p>QUI: Lanche Misto Frio (pão integral, mussarela e presunto) + Suco Laranja</p>
    <p>SEX: Lanche X-Bacon (pão de batata, hambúrguer, queijo, salada e bacon) + Refrigerante</p>
  </div>

  <div class="span5">
    <strong>Semana 2</strong>
    <p>SEG: Lanche de Queijos (pão integral, mussarela, patê de gorgonzola e tomate seco) + Suco Acerola (polpa)</p>
    <p>TER: Lanche de Mortadela (pão francês e mortadela defumada) + Suco Laranja</p>
    <p>QUA: Lanche de Frango (pão de batata, frango desfiado e maionese) + Suco Uva</p>
    <p>QUI: Lanche Bauru (pão integral, presunto, queijo e tomate) + Suco Manga</p>
    <p>SEX: Lanche X-Bacon (pão de batata, hambúrguer, queijo e salada) + Refrigerante</p>
  </div>
</div>